<header>
  <nav class="">
    <%= link_to "About", abouts_path %>
    <%= link_to "FAQs", faqs_path %>
    <%= link_to "Club Coffees", coffees_path %>
    <%#= link_to "Account", accounts_path %>
    <%#= link_to "Sign Up", signups_path %>
  </nav>
  <section>
    <header>
      <h1>This is the COFFEE page</h1>
      <%#= link_to "Go Brew", signups_path %>
    </header>
  </section>
</header>