<header>
  <%= render :partial =>  'header_links', :locals => { :page => :faq } %>
  <section>
    <header>
      <h1>This is the FAQs page</h1>
      <%#= link_to "Go Brew", signups_path %>
    </header>
  </section>
</header>