
<header>
  <%= render :partial => 'header_links', :locals => { :page => :index}  %>
  <section>
    <header>
      <h1>Home Page -- index.html.erb</h1>
      <%#= link_to "Go Brew", signups_path %>
    </header>
  </section>
</header>